*,
*:before,
*:after {
    box-sizing: border-box;
}
html,
body,
div,
span,
a,
img,
main,
footer,
header,
nav,
ul,
h1,
h2,
h3,
p{
    margin: 0;
    padding: 0;
    border: 0;
}
.page-wrapper{
    padding: 0 clamp(10px, 6vw, 200px);
}
.page-header,
.page-logo--link{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-logo--wrapper{
    padding: 5px;
}
.page-logo--link{
    text-decoration: none;
    color: black;
}
.logo-text{
    margin-left: 10px;
    font-size: 48px;
}
.page-main{
    width: 100%;
    height: 75vh;
    display: grid;
    grid-template:
    "search search" 60px
    "filter  result" 1fr
    / minmax(220px, 21vw) 1fr;
}
.search-bar{
    grid-area: search;
}
.search-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-input{
    width: calc(100% - 65px);
    height: 49px;
    border-radius: 10px;
}
.search-button{
    border-radius: 50%;
}
.filter-menu{
    grid-area: filter;
}
.user-library{
    grid-area: result;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.user-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}
